$theme-color: #293347;
$theme-color-2: #ED662F;
$theme-color-3: #8C43FF;
$theme-color-4: #808996;
$theme-font: 'RadnikaMedium', sans-serif;
$theme-font-2: 'Mukta', sans-serif;
$primary-font: 45px;
$default-font: 16px;
$default-font-2: 15px;
$default-font-3: 14px;
$default-font-4: 13px;
$color-light: #fff;
$color-light-grey: #f6f8f9;
$color-dark: #000;
$display: 70px;
$display-2: 24px;
$display-3: 20px;
$display-4: 18px;
$display-5: 30px;
$display-6: 140px;
$display-7: 100px;
$display-8: 60px;
$display-9: 22px;
$display-10: 32px;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
$text-height: 28px;
$text-height-2: 30px;
$text-height-3: 36px;
$color-1: #eee;
$color-2: #ddd;
$color-3: #5A49DB;
$color-4: #28d5a7;
$color-5: #f9b851;
$color-6: #CC08E9;
$color-7: #FF8C2A;
%button-shared {
  font-weight: 500;
  font-size: 16px;
  color: #293347;
  padding: 10px 35px;
  text-transform: capitalize;
  border: 2px solid #293347;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
  -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
  box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
  position: relative;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

